/* ================= ACHIEVEMENTS =================== */
.about__achievements {
    margin-top: 3rem;
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
}

.about__achievements-right > p {
    margin: 1.6rem 0 0rem;
}

.about__achievements-left {
    align-items: center;
}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.achievement__card {
    background: var(--color-bg1);
    border-radius: 1rem;
    transition: var(--transition);
}

.achievement__card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

/* ================= OVERVIEW =================== */
header {
    background: var(--color-bg1);
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}