.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-danger);
    cursor: pointer;
}

.faqs__general {
    background: var(--color-bg);
}

.faqs__education {
    background: var(--color-bg1);
}

