/* ================= CONTACT FORM =================== */

/* Allgemeine Formatierung des Kontaktformulars*/
.form_container {
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    border: 1px solid #8c8c8c;
    width: 70%; /* Breite des Formulars */
    background-color: #ffa463;;
    margin: 0 auto;
    padding: 0 1em;

}

/* Allgemeine Formatierung der Eingabefelder*/
.form-box {
    font-size: 1.0em;
    color: #fff;
    padding-left: 3px; 
}

/*Beschreibung der Eingabefelder darüber, nur "first-child-Elemete, d.h. zählt nicht für Text neben der Checkbox"*/
.form-box > label:first-child {
    display: block;
    
}

/*Eingabefelder vom Typ "Text" und "E-Mail"*/
.form-box > input[type="text"],
.form-box > input[type="email"] {
    width:100%;
    font-size:1.1em;
    padding: 4px;
    font-family: inherit;
    font-weight: lighter;
    border-radius: 0.3em;
    border: 1px solid gray; /*Nicht aktives Feld */
    outline: none;
    }

/*Nachrichtenfeld*/
.form-box > textarea {
        width:100%;
        font-size:1.1em;
        padding: 4px;
        font-family: inherit;
        font-weight: lighter;
        border-radius: 0.3em;
        border: 1px solid gray; /*Nicht aktives Feld */
        outline: none;
        }

/*Aktives Feld mit Umrandung */
.form-box > input:focus,                    
.form-box > textarea:focus {
    border: 2px solid #f75842 
}

/* Submit-Button "Absenden" */
.form-box > input[type=submit] {
    background-color: #f75842;
    cursor: pointer;
    width: 14em;
    padding: 8px 16px;
    border-radius: 0.7em;
    font-size:1.1em;
}

/* Submit-Button-Akzent-Farbe */
.form-box > input[type=submit]:hover {
    background-color: yellow;
    box-shadow: 2px 2px 2px grey;
}

/* Checkbox */
.form-box > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #f75842;
}

/* Positionierung der Bestätigung */
.form-box > label:last-child {
    position: relative;
    vertical-align: middle;
    bottom: 5px;
}